<ion-header>
    <ion-navbar hideBackButton = "true">
      <ion-title>
        
        <ion-row>
  
          <ion-col col col-6 class = "headerLogo">
            <img src = "assets/imgs/cibc1.png">
          </ion-col>
  
        </ion-row>
      
      </ion-title>
      
    </ion-navbar>
  </ion-header>

<ion-content class = "contentBG">

  <ion-row class = "account_status_wrap" padding>
  
      <ion-col col col-6>
        <ion-col col col-12 no-padding> Send Money from </ion-col>
        <h4 (click) = "editAccount()"> {{account}} </h4> 
      </ion-col>
  
      <ion-col col col-6>
        <ion-col col col-12 no-padding> Recipient </ion-col>
        <h4 (click) = "editContact()"> {{recipient_name}} </h4> 
      </ion-col>
    
    </ion-row>


  <form (ngSubmit)="logForm()" [formGroup]="userTransactionInformation" novalidate>


  <ion-row class = "no_top_bottom" padding><ion-col col col-12 class = "progress_step_recip_details">
      <div class = "progress_step_title"> Transfer Amount <br/> <small class = "color_red"> The daily transfer limit is 5000 USD.</small> </div>
    </ion-col></ion-row>
    
  <ion-card class = "transfer_info_wrap">

    <ion-row class = "transfer_amount_numer_wrap">
      <ion-col col col-12 padding class = "transfer_input">
        <ion-item class = "transfer_amount_numer" >
            <ion-label stacked> How much would you like to transfer? </ion-label>
            <ion-input type = "number" max = "5000" formControlName = "transfer" (change) = "checkTransferFundsAvailable($event)" value = "0.00"></ion-input> 

        </ion-item>
        <ion-range class = "range_transfer" min="50" max="5000" formControlName="transfer_amount" (ionChange) = "updateTranfer($event)" color="secondary" pin="true"></ion-range>

        <ion-item class="error-message" *ngIf="!userTransactionInformation.controls.transfer.valid && userTransactionInformation.controls.transfer.touched"> {{recipient_errors[0].transfer_error}} </ion-item>
        <ion-item class="error-message" *ngIf="transaction_amount_error"> {{transaction_amount_error}} </ion-item>
        
        
      </ion-col>
      </ion-row>

      <ion-row> <ion-col col-12 color = "danger">{{over_amount_error}} </ion-col></ion-row>
  </ion-card>
 
  <ion-row class = "no_top_bottom" padding><ion-col col col-12 class = "progress_step_recip_details">
      <div class = "progress_step_title"> Bank Details</div>
    </ion-col></ion-row>

  <ion-card class = "transfer_info_wrap">
    <ion-row>
      <ion-item col col-12 class = "noTopPadding" padding>
          <ion-label stacked> Bank Country </ion-label>
          <ion-select (ionChange)="onSelectChange($event)" (ionSelected) = "updateBankCountry($event)" formControlName = "bank_country">
            <ion-option value="CAN">Canada</ion-option>
            <ion-option value="GBR">United Kingdom</ion-option>
          </ion-select>
      </ion-item>

      <ion-col col col-12 class = "noTopPadding" *ngIf = "showBIC" padding>
        <ion-item>
            <ion-label stacked> Bank Identifier Code (BIC) </ion-label>
            <ion-input type = "text" formControlName = "bic"></ion-input> 
        </ion-item>
        <ion-item class="error-message" *ngIf="!userTransactionInformation.controls.bic.valid && userTransactionInformation.controls.bic.touched"> {{recipient_errors[0].bic_error}} </ion-item>  
      </ion-col>

      <ion-col col col-12 class = "noTopPadding" *ngIf = "showIBAN" padding>
        <ion-item>
          <ion-label stacked> International Bank Account Number (IBAN) </ion-label>
          <ion-input type = "text" formControlName = "iban"></ion-input> 
        </ion-item>
      </ion-col>

      <ion-col col col-12 class = "noTopPadding" *ngIf = "showBAN" padding>
          <ion-item>
            <ion-label stacked> Bank Account Number (BAN) </ion-label>
            <ion-input type = "text" formControlName = "ban"></ion-input> 
          </ion-item>
        </ion-col>

    </ion-row>

  </ion-card>
  </form>

  <br/>

<ion-row>
  <ion-col col col-6><button col-12 color = "dark" ion-button class = "button_grey" (click)="cancelPage()" clear>Cancel</button></ion-col>
  <ion-col col col-6><button col-12 ion-button class = "button_red" (click)="nextPage($event,'reviewtransaction')"> Review Information </button></ion-col>
</ion-row>

<span id = "selog_info_amount" class = "selog"></span>
  
</ion-content>