
<ion-content class = "contentBG" padding>

  <div id = "headerLogoLogin"></div> 

  <form (ngSubmit)="loginForm()" id = "loginForm" [formGroup]="userLoginForm">
  
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username" >
        <div class="error-message" *ngIf="userInformation.get('account').hasError(validation.type) && (userInformation.get('account').dirty || userInformation.get('account').touched)">
        {{ validation.message }}
        </div>
      </ng-container>
    </div>
      
    <ion-item>
      <ion-label color="primary" stacked>User ID:</ion-label>
      <ion-input type = "number" id = "account" formControlName="account"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Password:</ion-label>
      <ion-input [type]="passwordType" clearOnEdit="false" id = "password" formControlName="password"></ion-input>

      <button ion-button clear item-end (click)='hideShowPassword()' style="height:32px;">
        <ion-icon name="eye" style="font-size:32px;"></ion-icon>
      </button>
      
    </ion-item>
    
    <ion-row>
      <ion-col><button col-12 ion-button id = "login" class = "button_red" (click)="goToAccount()"> Log On </button></ion-col>
    </ion-row>

    <ion-row> 
      <ion-col (click) = "openForgotPassword()" text-center> Having trouble signing in? </ion-col>
    </ion-row>
  </form>

</ion-content>