page-login {

    .fixed-content{
        background-image: url(../assets/imgs/login_bg2.jpg);
        background-repeat: no-repeat;
        background-size: 155%;
        background-position: 0px 58%;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        transition: all 0.5s ease-in-out;
    }

    .filterHeavy .fixed-content{
        -webkit-filter: blur(5px);
        filter: blur(5px);
        transition: all 0.5s ease-in-out;
    }

    .input-wrapper .text-input{
        border-bottom:0px solid #fff;
    }

    .userProfileWrap{
        width:80px;
        height:80px;
        border-radius: 50%;
        border:1px solid #000;
        background-image:url('/assets/imgs/user.png');
        background-position: 52% 86%;
        background-repeat: no-repeat;
        background-size: 45px;
        margin: 0px auto;
    }

    #headerLogoLogin{
        background-image:url("../assets/imgs/cibc1.png");
        background-size:cover;
        width: 191px;
        height: 50px;
        float: left;
        background-size: 170px 42px;
        background-repeat: no-repeat;
        background-position: 2px;
        margin: 20px 25% 20%;
    }

    #loginForm{

        margin-top:94%;

        .label{
            color:#000 !important;
        }

        .input-wrapper{
            padding-left:16px;
        }

        .item{
            padding-left:0px !important;
        }
    }
 
}
