page-filter {

    ion-modal {
        left: 0;
        top: auto !important;
        position: absolute;
        /* display: block; */
        width: 100%;
        height: 89%;
        contain: strict;
        bottom: 0px;
    }

    p{font-size: 17px;}

    .toolbar-background {
        border-color: #000000;
        background: #000000;
    }

    .filter_heading{
        position: relative;
        z-index: 2;
        background: #efeff4;
        margin-top: -1px;
        border-bottom: 1px solid #ccc;
        color: #6d6d72;
        font-size: 15px;
        line-height: 1.5em;
        text-transform: uppercase;
        padding: 15px;
    }

    .mbsc-ios.mbsc-form {
        background: transparent;
        color: #000;
    }

    .filterHeader{

        .toolbar-background{
            background: #ad5389 !important; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #3c1053, #ad5389) !important;  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #3c1053, #ad5389) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .button{
            color:#fff;
        }

        .filterHeader_title{
            color: white;
            margin: 0px;
            padding: 16px;
            font-weight: bold;
        }

    }

}
