page-accountsactivity {

        ion-select{
            max-width: 100%;
        }

        .tag{
            padding:6px 10px;
            font-size:10px;
            width:100%;
            text-align: center;
            float:left;
        }
        
        .tag.tag_completed{
            background: rgb(0, 158, 21);
            color:#fff;
        }
        
        .tag.tag_pending{
            background: rgb(0, 140, 255);
            color:#fff;
        }
        
        .tag.tag_rejected{
            background: red;
            color:#fff;
        }
        
        .transaction_number{
            font-weight: bold;
            font-size: 14px;
        }
        
        .transaction_date{
            font-size: 14px;
            color:rgb(94, 94, 94);
        }
        
        .transaction_currency{
            font-size:14px;
            padding: 3px;
            font-weight: bold;
            color:grey;
        }
        
        .transaction_amount{
            font-size: 14px;
            padding:6px;
            text-align: right;
            padding: 3px;
        }
        
        .transaction_wrap{
            border-bottom:1px solid #eee;
            margin-bottom:5px;
        }
        
        .transaction_wrap .container{
            padding:10px 0px;
        }
        
        .filter_action{
            text-align: right;
            padding:10px;
        }
        
        .backgroundBanner{
            background-color:#ffffff;
            padding: 40px 0px;
            margin: 0px !important;
            /* color: #fff; */
        }
        
        .transaction_amount_wrap_label{
            font-size:11px;
        }
        
        .transaction_amount_wrap_amount{
            font-weight: bold;
        }
        
        .account_status_wrap{
            background: #ad5389;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            color:#fff;  
            text-align: left;    

            small{
                font-weight: bold;
                text-transform: uppercase;

            }

            h4{
                margin-top:0px;
            }

            .amount_sec:first-child{
                border-right:1px solid rgba(255, 255, 255, 0.3);
            }

            .amount_sec{
                padding-left: 8%;
            }

        }

        .item.item-block .item-inner {
            padding-right: 8px;
            border-bottom: 1px solid transparent;
        }

        .account_selected_details{
            background-color: rgba(255, 255, 255, 0.59);

            .label{
                color:$fcib_purple;
                font-weight: bold;
            }
        }

        .transaction_name{
            font-weight: bold;
        }

        .transaction_amount{
            font-size: 15px;
        }

        .transaction_amount_left{
            font-size: 11px;
            text-align: right;
            color:rgb(153, 153, 153);
        }

        .transaction_date{
            font-size:11px;
            color:rgb(153, 153, 153);
        }

        .icon_about_transaction{
            position: absolute;
            right: 25%;
            opacity: 0.1;
            width: 32px;
            margin-top: 12px;
        }
}
