<ion-header>
    <ion-navbar>
      <ion-title>
        
        <ion-row>
  
          <ion-col col col-6 class = "headerLogo">
            <img src = "assets/imgs/cibc1.png">
          </ion-col>
  
          <ion-row col col-4 class = "head2">
            
          </ion-row>
          
          <ion-col col col-2 class = "head3">
            <button ion-button menuToggle right>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-col>
  
        </ion-row>
      
      </ion-title>
      
    </ion-navbar>
  </ion-header>


<ion-content class = "contentBG">

      <ion-row class = "account_status_wrap" padding>
        
        <ion-col col col-12> Account Activity </ion-col>

        <ion-col col col-12>
          <ion-item class = "account_selected_details">
            <ion-label> Accounts </ion-label>
            <ion-select [(ngModel)]="account_selected" (ionChange) = "showAccount($event)" multiple="false">
              <ion-option *ngFor = "let account of accountslists" value = "{{account.account_num}}">{{account.alias}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col col-6 class = "amount_sec">
          <small> Current Amount </small>
          <h4> $45, 000.00 </h4>
        </ion-col>
        <ion-col col col-6 class = "amount_sec">
          <small> Available Amount </small>
          <h4> $44, 700.00 </h4>
        </ion-col>

        <ion-card-content class = "remove_outer_padding" no-padding>
            <canvas baseChart width="400" height="60"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </ion-card-content>

      </ion-row>

      <span *ngFor = "let transaction of transactionLists">
        <ion-card padding *ngIf = "transaction.type == account_selected && showAccounts == true">
            <ion-row> 

              <ion-col col col-6> 
                <div col col-12 class = "transaction_name"> {{transaction.name}} </div>
                <div col col-12 class = "transaction_date"> <ion-icon name="calendar"></ion-icon>  {{transaction.date}} </div>
              </ion-col>
              
              <ion-col col col-6>
                <div col col-12 class = "transaction_amount">  {{transaction.amount}} </div>
                <div col col-12 class = "transaction_amount_left">  {{transaction.amount_left}}  </div>
              </ion-col>

              <span class = "icon_about_transaction"><img src = "assets/imgs/{{transaction.icon}}"></span>

          </ion-row>
        </ion-card>
      </span>

    <span id = "selog_accounts_activity" class = "selog"></span>
  
</ion-content>
