page-contact {

    h4{
        font-weight: bold;
        
        color:white;
        width:100%;
        padding-top: 13px;
        padding-bottom: 13px;
        background-image:url("../assets/imgs/purple.jpg");
    }
    
    h5{
        font-weight: bold;
    }

    .img_pad{
        padding: 0px;
    }
    
    .no-padding {
        padding: 0px !important;
    }

}
