page-info {

    .text-input {
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 5px;
    }

    .noTopPadding{
        padding-top:0px !important;

        [col]{
            padding:0px;
        }
    }

    .text-right{
        text-align:right;
    }

    .item{
        background:rgba(255,255,255,0.8);
    }

    .account_status_wrap h4{
        font-size: 17px;
    }

    .account_selection_list_radio_group_wrap{
        width:100%;

        .item-radio-checked ion-label{
            font-weight:bold;
            color:#fff;
            opacity:1;
        }

        .item-radio-checked{
            background: rgba(255, 255, 255, 0.3);
        }

    }

    .account_selection_list_radio_group{
        background: transparent;
        width:100%;
        color:#fff;
        opacity:0.8;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        .label{
            margin:0px;
        }
        
        .item-inner{
            border-bottom:none !important;
        }
        .account_amount{
            float:right;
            font-weight: bold;
        }

        .account_number{
            opacity:0.7;
        }
    }

    .partial_hide{
        opacity:0.5;
    }

    .text-input{
        border-bottom: 1px solid transparent;
    }

    #dobcont .text-input{
        margin-bottom:5px !important;
    }

    .radio-md .radio-icon {
        left: 6px;
        border-color: #ffffff;
    }
}
