page-info {

    .text-input {
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 5px;
    }

    .progress_step_recip_details{
        padding: 0px 20px;
    }

    .noTopPadding{
        padding-top:0px !important;

        [col]{
            padding:0px;
        }
    }

}
