page-accounts {

    .profile_image{
        background-color:#ddd;
        background-image:url("/assets/imgs/profile.jpg");
        background-size:cover;
        background-position: 0px 30%;
    }

    .menu_option{
        overflow: hidden;
        background: rgba(255, 255, 255, 0.2);
        
        img{
            width: 50px;
            position: absolute;
            right: 10px;
            opacity: 0.5;
        }

        p{
            margin:0px;
            font-size: 15px;
            letter-spacing: 0.5px;
        }

    }

    #account_selection_list{
        width:100% !important;
    }
    
    .noTopPadding{
        padding-top:0px !important;
        padding-bottom:0px !important;
    }

    .accountCard{

    }
    
    .option_account_number{
        margin-left:0px;
    }

    .account_status_wrap{

        color:#fff;  
        text-align: left;    

        small{
            font-weight: bold;
            text-transform: uppercase;

        }

        h4{
            margin-top:0px;
        }

        .amount_sec:first-child{
            border-right:1px solid rgba(255, 255, 255, 0.3);
        }

        .amount_sec{
            padding-left: 8%;
        }

    }

    .account_status_wrap:after{
        display:none;
    }


}
