page-accounts {
    .profile_image{
        background-color:#ddd;
        background-image:url("/assets/imgs/profile.jpg");
        background-size:cover;
        background-position: 0px 30%;
    }
}
