// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$fcib_red:#af0b1c;
$fcib_purple: #69007D;
$fcib_blue:#62b6f0;

.color_red{
    color:$fcib_red !important;
}
 
.button_blue{
    background:$fcib_blue !important;
}

.button_red{
    background:$fcib_red !important;
}

.recipient_name{
    color:$fcib_purple;
}

.toolbar-background {
    border-color: #af0b1c;
    background: #af0b1c;
}

.bar-button-default, .bar-button-clear-default, .bar-button-default{
    color:#fff;
}

.header_title, h1.header_title{
    width:90%;
    text-align: left;
    font-weight: bold;
    font-size:14px;
}

.contentBG{
    background-color:#f1f0f0; 
}

.contentBG .scroll{
    background-color:#f1f0f0; 
}

.float_bottom_buttons_group{
    width:100%;
}

.float_bottom_buttons_group .button{
    width:100%;
}

.field_name{
    font-weight: bold !important;
}

.boldme{
    font-weight:bold !important;
}

.text-center{
    font-size: 40px;
    text-align: center;
}

.labelTitle{
    width:100%;
    float:left;
}

#headerLogo{
    background-image:url("../assets/imgs/cibc1.png");
    background-size:cover;
    width: 191px;
    height: 50px;
    float: left;
    background-size: 170px 42px;
    background-repeat: no-repeat;
    background-position: 2px;
}

.headingSub{
    padding:0px 15px;
}

.headerSlogan{
    color:#fff;
    text-align: right;
    width: 109px;
    float: right;
    font-size: 10px;
    padding: 18px 0px;
}

.bottom_float{
    position: absolute;
    bottom:0px;
    width:100%;
    left:0px;
}

.button_option{
    width:100%;
}

.button_option  a{
    padding:17px !important;
}

.account_selection_wrap{
    justify-content: center;
}

.account_selection_wrap .card{
    background:#f8f8f8;
}

.account_selection{
    padding:10px 10px;
    text-align:left;
}

.option_account_number{
    color:#000;
}

.option_amount{
    float:right;
    text-align: right;
    justify-content: right;
    margin-left: 22%;
    margin-right: 5%;
    color:$fcib_blue;
    text-align:left;
    font-size: 22px;
}

.option_title{
    text-align: left;
    justify-content: left;
    font-weight:bold;
    font-size:14px;
    color:$fcib_purple;
}

.button_option_wrap{
    margin:0px;
}

.userProfile{
    margin:0px auto;
    width:90%;
}

.userProfile img{
    width:24px;
    height:24px;
    position:absolute;
    right:10%;
}

.bottom_button{
    width:100%;
    position: fixed;
    bottom:0px;
    left:0px;
}

.full_button{
    width:100%;
    border-color: #949494;
}

.full_button .icon{
    color:#949494;
}

.outsideSign{
    position: absolute;
    left:10px;
    top:33px;
    font-weight: bold;
}

.menu-inner .item {
    background-color: #af0b1c !important;
    color: #fff;
}

.menu-inner .scroll-content{
    background-color: #af0b1c;
}

.menu-inner .toolbar-background{
    background-color: #fff;
}

.menu-inner .toolbar-title{
    color:#af0b1c;
}

.toolbar ion-title{
    padding:0 0px 1px;
}

// Profile
.profile_wrap{
    
}

.profile_data_wrap{
    
}

.profile_data_wrap_image{
    color:#fff;

    ion-icon{
        font-size:29px;
    }
}


.profile_title_username{
    color: #fff;
    margin:0px;
    font-size:11px;
    text-align: left;
}

.profile_title_day{
    font-weight: bold;
    font-size:12px;
    color:#fff;
}

.heading_title_small{
    font-size:12px;
    font-weight: bold;
}

#closeMenuIcon{
    border-bottom:0px solid transparent;
    font-size: 16px;
    background: none;
    color: #fff;
    padding: 15px;
    font-weight: bold;
}

.headerLogo{
    text-align: left;
}

.headerLogo img{
    margin: 2px 8px 0px;
    width: 73%;
}

#logoff{
    background-color:rgba(0,0,0,0.5) !important;
    padding:10px;
    position:absolute;
    bottom:0px;
    width:100%;
    text-align: center;
    margin-top:10px;
    z-index:1;

    .item-inner{
        border:none;
        background-image:none;
    }
}

.menu_icon{
    float:right;
}

.menu_icon img{
    width:16px;
}

#menuBar .item-inner{
    background-image:none;
    padding-right: 12px;

}

#notificationsWrap{
    padding: 20px;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.2);

    #menu_notification_badge{
        float:right;
        border-radius: 10px;
        color: #000;
        background-color: #fff;
        margin-top: 8px;
    }
}

.list > .item-block:last-child, .list > .item-wrapper:last-child .item-block{
    border:none !important;
}

.list > .item-block:first-child{
    border-top:none;
}

// Footer
#footerImage{
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    z-index: -9;
}

#footerImage img{
    width: 70%;
    margin: 0px auto;
}

.progress_step_title{
    font-weight:bold;
}

.progress_step{
    border-bottom:1px solid rgb(197, 197, 197);
    padding-bottom:10px;
}

.transfer_info_wrap{
    box-shadow: none;
}

.transfer_info_wrap .item{
    padding-left:0px;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.transfer_info_wrap h1.header_title{
    margin-top:10px;
    margin-bottom:0px;
    padding-bottom: 0px;
}

@font-face {
   font-family: Glober;
   src: url("../assets/fonts/Glober Regular.otf");
}

div {
   font-family: Glober;
.toolbar-title{
    color:#fff;
}
}

.error-message{
    color:red;
    font-size:11px;

    .label{
        margin-top:0px;
    }
}

modal-wrapper {
    position: absolute;
    width: 60%; 
    height: 60%; 
    top: 5%; 
    left: 5%; 
    right: 5%; 
    bottom: 5%;
  }
  
  ion-modal {
    left: 0;
    top: auto !important;
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 73%;
    contain: strict;
    bottom: 0px;
}