
<ion-header >

  <ion-navbar>
    <ion-title>Inno</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



<ion-list no-lines class="chat-list">
  <ion-item text-wrap *ngFor="let message of messages" class="chat-item">
    <ion-avatar item-left *ngIf="message.sender == 'api'">
      <img src="assets/imgs/icon.png">
    </ion-avatar>

    <ion-avatar item-right *ngIf="message.sender == 'user'">
        <img src="assets/imgs/profile (1).png">
    </ion-avatar>

    <div *ngIf="message.sender == 'api'" class="bubble me">
      <h3>{{message.text}}</h3>
    </div>

    <div *ngIf="message.sender == 'user'" class="bubble you">
        <h3>{{message.text}}</h3>
    </div>
  </ion-item>
</ion-list>

</ion-content>

<ion-footer>
    <ion-fab bottom right>
        <button ion-fab color="danger" (click)="sendVoiceMessage()">
          <ion-icon name="mic"></ion-icon>
        </button>
      </ion-fab>

    <ion-toolbar>
      <form (ngSubmit)="sendTextMessage()">
        <ion-item>
          <ion-input #input name="msg" type="text" placeholder="Your message here.." [(ngModel)]="text"></ion-input>
        </ion-item>
      </form>
    </ion-toolbar>
 </ion-footer>
