<ion-header>
    <ion-navbar hideBackButton = "true">
      <ion-title>
        
        <ion-row>
  
          <ion-col col col-6 class = "headerLogo">
            <img src = "assets/imgs/cibc1.png">
          </ion-col>
  
        </ion-row>
      
      </ion-title>
      
    </ion-navbar>
  </ion-header>
  
  <ion-content class = "contentBG">
  
    <ion-row class = "account_status_wrap" padding>

      <ion-col col col-6>
          <ion-col col col-12 no-padding> From <ion-icon (click) = "editAmount()" name="create"></ion-icon> </ion-col>
          <h4 (click) = "editAccount()"> {{account_transfer_from}} </h4> 
        <ion-col col col-12 no-padding> Sending Amount <ion-icon (click) = "editAmount()" name="create"></ion-icon> </ion-col>
        <h4 (click) = "editAmount()"> <span class = "boldme">$</span>{{amount}} <small>USD</small> </h4> 
        
      </ion-col>
  
      <ion-col col col-6>
        <ion-col col col-12 no-padding> Recipient <ion-icon (click) = "editAmount()" name="create"></ion-icon> </ion-col>
        <h4 (click) = "editContact()"> {{recipient_name}} </h4> 
        <ion-col col col-12 no-padding> Address <ion-icon (click) = "editAmount()" name="create"></ion-icon> </ion-col>
        <h6 (click) = "editAddress()"> {{recipient_address}} </h6> 
      </ion-col>
    
    </ion-row>
        
  <ion-row class = "no_top_bottom" padding><ion-col col col-12 class = "progress_step_recip_details">
      <div class = "progress_step_title"> Transfer Breakdown <br/> <small class = "color_red">  <ion-icon name="lock"></ion-icon> Transaction Rate Garaunteed Until {{fx_expiration}}.</small> </div>
    </ion-col></ion-row>
    
    <ion-card padding *ngIf = "!error_occured">

        <ion-row>
          <ion-col col col-6> </ion-col>
          <ion-col col col-3 class = "boldme">  </ion-col>
          <ion-col col col-3 class = "boldme">  </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col col col-6 class = "boldme"> Charged Amount </ion-col>
          <ion-col col col-3> ${{charged_amt}} </ion-col>
          <ion-col col col-3>  </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col col col-6 class = "boldme"> Total Transfer </ion-col>
          <ion-col col col-3> ${{credited_amt}} </ion-col>
          <ion-col col col-3>  </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col col col-6 class = "boldme"> Principal Amount </ion-col>
          <ion-col col col-3> ${{principal_amt}} </ion-col>
          <ion-col col col-3>  </ion-col>
        </ion-row>
      
      </ion-card>

      <ion-card padding *ngIf = "error_occured"> An error occured generating your transaction cost, please try again </ion-card>
        
      <ion-row class = "no_top_bottom" padding><ion-col col col-12 class = "progress_step_recip_details">
          <div class = "progress_step_title"> Bank Details </div>
        </ion-col></ion-row>
        
        <ion-card padding>
    
            <ion-row>
                <ion-col col col-6 class = "boldme"> IBAN </ion-col>
                <ion-col col col-3> {{iban}} </ion-col>
                <ion-col col col-3>  </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col col col-6 class = "boldme"> Bank Country </ion-col>
                <ion-col col col-3> {{bank_country}} </ion-col>
                <ion-col col col-3>  </ion-col>
              </ion-row>
          
          </ion-card>

      <ion-row>
        <ion-col col col-6><button col-12 ion-button color = "dark" class = "button_grey" (click)="cancelPage()" clear>Cancel</button></ion-col>
        <ion-col *ngIf = "!error_occured" col col-6><button col-12 ion-button class = "button_red" (click)="goToThankYou()"> Confirm </button></ion-col>
        <ion-col *ngIf = "error_occured" col col-6><button col-12 ion-button class = "button_red" (click)="tryAgain()"> Try Again </button></ion-col>
      </ion-row>

      <span id = "selog_review" class = "selog"></span>
  
    </ion-content>