<ion-header>
    <ion-navbar hideBackButton = "true">
      <ion-title>
        
        <ion-row>
  
          <ion-col col col-6 class = "headerLogo">
            <img src = "assets/imgs/cibc1.png">
          </ion-col>
  
        </ion-row>
      
      </ion-title>
      
    </ion-navbar>
  </ion-header>

<ion-content class = "contentBG">

  <ion-row class = "account_status_wrap" padding>
    
    <ion-col col col-7>
      <ion-col col col-12 no-padding> Send Money from </ion-col>
      <h4> {{account}} </h4> 
    </ion-col>

    <ion-col col col-5>
      <ion-col col col-12 no-padding> Recipient </ion-col>
      <h4> {{recipient_name}} </h4> 
    </ion-col>
 
  </ion-row>

  <form (ngSubmit)="logForm()" [formGroup]="userRecipientAddressInformation" novalidate>

  <ion-row class = "no_top_bottom" padding><ion-col col col-12 class = "progress_step_recip_details">
      <div class = "progress_step_title"> Recipient Address </div>
    </ion-col></ion-row>
    
  <ion-card class = "transfer_info_wrap" padding>

    <ion-row>
      <ion-col col col-12>
        <ion-item>
          <ion-label stacked>Street Address</ion-label>
          <ion-textarea formControlName = "recipient_streetAddress" placeholder = "1646 Galts Ave"> </ion-textarea>
          
        </ion-item>
        <ion-item class="error-message" *ngIf="!userRecipientAddressInformation.controls.recipient_streetAddress.valid && userRecipientAddressInformation.controls.recipient_streetAddress.touched"> {{recipient_errors[0].streetAddress_error}} </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
    <ion-col col col-12>
        <ion-item>
          <ion-label stacked> City </ion-label>
          <ion-input type="text" formControlName = "recipient_city" placeholder = "Red Deer"></ion-input>
        </ion-item>

        <ion-item class="error-message" *ngIf="!userRecipientAddressInformation.controls.recipient_city.valid && userRecipientAddressInformation.controls.recipient_city.touched"> {{recipient_errors[0].city_error}} </ion-item>

      </ion-col>
      </ion-row>

    <ion-row>

      <ion-col col col-6>
        <ion-item>
            <ion-label stacked> Country </ion-label>
            <ion-select formControlName = "recipient_country">
                <ion-option value="CAN">Canada</ion-option>
                <ion-option value="GBR">United Kingdom</ion-option>
              </ion-select>

        </ion-item>

        <ion-item class="error-message" *ngIf="!userRecipientAddressInformation.controls.recipient_country.valid && userRecipientAddressInformation.controls.recipient_country.touched"> {{recipient_errors[0].country_error}} </ion-item>

      </ion-col>
     
      <ion-col col col-6>
        <ion-item>
          <ion-label stacked> Postal Code </ion-label>
          <ion-input type="text" formControlName = "recipient_postal_code" placeholder = "T4N 2A6"></ion-input>
        </ion-item>

        <ion-item class="error-message" *ngIf="!userRecipientAddressInformation.controls.recipient_postal_code.valid && userRecipientAddressInformation.controls.recipient_postal_code.touched"> {{recipient_errors[0].postal_code_error}} </ion-item>

      </ion-col>
  
    </ion-row>

  </ion-card>
  </form>

  <br/>

<ion-row>
  <ion-col col col-6><button col-12 color = "dark" ion-button class = "button_grey" (click)="cancelPage()" clear>Cancel</button></ion-col>
  <ion-col col col-6><button col-12 ion-button class = "button_red" (click)="nextPage($event)"> Next </button></ion-col>
</ion-row>

<span id = "selog_info_address" class = "selog"></span>
  
</ion-content>